<div id="playbox" class="grp_box clearit">
    <div class="clearit">
        <span class="episode_tag bilibili" style="margin-right:3px">
            <a href="https://www.bilibili.com/bangumi/play/ep{{ f['ep_id'] }}" target="_blank"
               title="肺炎链球菌 2018年7月8日 12:30">bilibili</a>
            <a class="edit_button" href="#" onclick="document.loadEditBox(13681)">[编辑]</a>
        </span>
        <div style="float:right"><a href="#" onclick="document.loadEditBox(-1)" class="l">[修改]</a></div>
    </div>
</div>
