<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-checkbox label=看番时自动标记观看状态 v-model="auto_watch"></v-checkbox>
                <button type="button" class="btn success" style="position: relative;">
                    <div class="btn__content">Save</div>
                </button>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
  let version = '0.0.1'
  let app = new Vue({
    el: '#app', data () {
      return {
        auto_watch: false
      }
    }
  })
</script>
</body>
</html>