//#bgm_tv_tracker.disable .bgm_tv_tracker_info {
//display: none;
//}

.iqiyi {

    #bgm_tv_tracker_btn_on_page {
        color: #797979;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        display: block;
        font-weight: bold;
        font-family: PingFangSC-Regular, Helvetica, Arial, "Microsoft Yahei", sans-serif;
        font-size: 16px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        height: 38px;
        line-height: 38px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
    }

    &#bgm_tv_tracker {
        margin-left: 15px;
        padding-left: 16px;
        position: relative;
        font-size: 15px;
        float: left;
        cursor: pointer;
        display: inline;
    }

    #bgm_tv_tracker_link a {
        color: black;
    }

    &#bgm_tv_tracker .bgm_tv_tracker_info {
        opacity: 1;
        pointer-events: auto;
        top: 100%;
    }

    .bgm_tv_tracker_btn.bgm_tv_tracker {
        user-select: none;
        float: left;
        cursor: pointer;
        font-size: 14px;
        height: 28px;
        line-height: 18px;
        text-align: center;
        width: 100px !important;
        transition: all .1s ease-in;
    }

    .bgm_tv_tracker_info {
        padding: 8px;
        margin-top: 5px;
        background: #fff;
        border: 1px solid #e5e9ef;
        cursor: default;
        height: auto;
        left: -1px;
        line-height: normal;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-align: left;
        top: 70px;
        white-space: normal;
        width: 250px;
        z-index: 1000;
    }

    .bgm_tv_tracker_info * {
        max-width: 100%;
    }

    .bgm_tv_tracker_info button {
        padding: 4px 6px;
        line-height: 14px;
        display: inline-block;
        margin: 4px;
    }
}
