
#bangumi_detail .bangumi-info.clearfix .info-right .info-title.clearfix a h2 {
    width: 380px;
}

@media screen and (max-width: 1400px) {
    .arc-toolbar .block {
        padding: 0 12px;
        margin-left: -12px;
    }

    .video-toolbar-module .btn-item {
        padding: 0 0 0 60px !important;
        margin-left: -12px;
    }

    #bangumi_detail .bangumi-info.clearfix .info-right .info-title.clearfix a h2 {
        width: 200px !important;
    }
}

.bilibili {
    &#bgm_tv_tracker {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 20px;
    }

    .bgm_tv_tracker_radius {
        border-radius: 4px;
        border: 1px solid #e5e9ef;
    }

    .bgm_tv_tracker_btn.bgm_tv_tracker:hover {
        color: #00A1D6;
        border: 1px solid #00A1D6;
    }

    .bgm_tv_tracker_btn.bgm_tv_tracker {
        user-select: none;
        color: #6d757a;
        float: left;
        cursor: pointer;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        width: 100px !important;
        transition: all .1s ease-in;

    }

    .bgm_tv_tracker_info {
        padding: 8px;
        margin-top: 5px;
        background: #fff;
        border-radius: 0 0 4px 4px;
        border: 1px solid #e5e9ef;
        box-shadow: rgba(0, 0, 0, .16) 0 2px 4px;
        cursor: default;
        height: auto;
        left: -1px;
        line-height: normal;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-align: left;
        top: 70px;
        white-space: normal;
        width: 300px;
        z-index: 1000;
    }

    .bgm_tv_tracker_info * {
        max-width: 100%;
    }

    .bgm_tv_tracker_info {
        opacity: 1;
        pointer-events: auto;
        top: 100%;
    }

    .bgm_tv_tracker_info button {
        padding: 4px 6px;
        line-height: 14px;
        display: inline-block;
        margin: 4px;
        border: 2px solid white;
    }

    .bgm_tv_tracker_info button:active {
        background: white;
    }

    .bgm_tv_tracker_info button:hover {
        border: 2px solid #99bdf7;
    }
}
